body {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    color: #202020;
    padding: 0px;
    font-family: 'Arial', 'serif';
}

a {
    text-decoration: none;
    color: #202020
}

a:hover {
    color: #8a8a8a
}

#header {
    color: black;
    display: flex;
    width: 100%;
}

.nav {
    border-spacing: 12px;
    margin-right: 0px;
    margin-left: auto;
    font-size: 12px;
}

#socialIcons {
    padding-left: 12px;
    padding-top: 12px;
}

#banner {
    display: inline-block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: rgb(153, 153, 153);
    color: white;
    height: 300px;
    width: 100%;
}

#bannercontent {
    margin: auto;
    width: 70%;
}

#title {
    padding-top: 0px;
    margin: 90px auto auto auto;
    font-size: 45px;
}

#lang {
    padding: 20px;
    width: 60%;
    margin: auto;
    text-align: center;
}

#lang>table {
    border-spacing: 20px;
}
