html, body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
}

.logo {
    float: left;
    margin: 5px;
    height: 30px;
}

a{
    text-decoration: none;
    color: #707070;
}


a:hover {
    text-decoration: none;
    color: #000000;
}

a::after {
    text-decoration: underline;
    color: #ff0000;
}


header {
    display: block;
    margin: 30px 80px 30px 80px;
    min-width: 550px;
    white-space: nowrap;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
    margin: auto;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 3em;
    font-weight: 300;
    line-height: 40px;
    color: #707070;
}

#home {
    margin-left: 0px;
}

#backdrop {
    position: absolute;
    height: 2000px;
    width: 42%;
    min-width: 400px;
    padding: 0px;
    top: 130px;
    left: 20%;
    background-image: linear-gradient( rgba(0, 94, 255, 0.03),white);
    border-radius: 1em;
}

#title {
    position: absolute;
    top: 80px;
    left: 19%;
}

#title p {
    font-family: 'Playfair Display', serif;
    font-size: 4.5em;
    color: #707070;
    margin: 0px;
    white-space: nowrap;
}

#contact {
    position: absolute;
}

#page {
    background-color: tomato;
    width: 100%;
    height: fit-content;
}
